<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="stylesheet" href="/assets/css/base.css">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <section id="login">
        <div class="sub__header">
            <!-- container -->
            <div class="container">
                <div class="sub__navbar">
                    <!-- logo -->
                    <div class="sub__navbar--logo">
                        <img src="/assets/images/logo-black.png" alt="">
                    </div>
                    <!-- close -->
                    <div class="close">
                        <a href="/index.html"><i class="fa-solid fa-xmark"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- login main -->
        <div class="login__main">
            <!-- heading -->
            <div class="login__heading">
                <h3>
                    Chào mừng bạn đến với
                    Lamtayfood
                </h3>
                <p>Hãy đăng nhập để có thể mua hàng dễ dàng hơn</p>
            </div>
            <!-- Quick login -->
            <div class="login__quick">
                <a href="#"><i class="fa-brands fa-google"></i> <span>Tiếp tục với Google</span></a>
                <a href="#"><i class="fa-brands fa-square-facebook"></i> <span>Tiếp tục với Facebook</span></a>
            </div>
            <!-- desc -->
            <p>Hoặc đăng nhập với email</p>
            <!-- form login -->
            <form class="login__form" action="#">
                <input type="email" name="" id="" placeholder="Email" >
                <!-- password -->
                <div class="form__pass">
                    <input id="password" type="password" name="pass" placeholder="Password">
                    <i class="fa-solid fa-eye-slash"></i>
                </div>
                <button>Đăng nhập</button>
                <div class="login__links--support">
                    <a href="">Quên mật khẩu</a>
                    <p>Bạn chưa có tài khoản? <a href="#">Tạo tài khoản</a></p>
                </div>
            </form>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/1d3e3edcff.js" crossorigin="anonymous"></script>
    <!-- main.js -->
    <script src="/assets/js/main.js"></script>
</body>
</html>