<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>category</title>
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/category.css">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- === header === -->
    <header id="header__category" class="header__header">
        <!-- container -->
        <div class="container">
            <!-- navbar-->
            <div class="navbar">
                <!-- menu -->
                <div class="navbar__menu">
                    <div class="navbar__menu--icons">
                        <div class="navbar__menu--icon"></div>
                    </div>
                    <p>Menu</p>
                </div>
                <!-- logo -->
                <div class="navbar__logo">
                    <img src="/assets/images/logo-black.png" alt="logo">
                </div>
                <!-- nav icon-->
                <ul class="navbar__nav">
                    <li class="navbar__nav--account"><a href="#"><i class="fa-solid fa-user"></i></a></li>
                    <li class="navbar__nav--cart"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li class="navbar__nav--language"><a href="#">VI</a></li>
                </ul>
            </div>
        </div>
        
    </header>
    <!-- === banner === -->
    <section class="banner__category">
        <!-- container -->
        <div class="container__sub">
            <!-- banner nav -->
            <div class="banner__nav">
                <a href="#">Trang chủ</a>
                <div class="space"></div>
                <p>Sản phẩm</p>
            </div>
            <!-- banner heading -->
            <div class="category__heading heading">
                <!-- title -->
                <h2 class="category__heading--title heading__title">
                    Khám phá những sản phẩm
                    của chúng tôi
                </h2>
                <!-- desc -->
                <p class="category__desc desc">
                    Chúng tôi đã khai thác nhiều thập kỷ kinh nghiệm và chuyên môn của mình trong lĩnh vực bán buôn tinh dầu thiên nhiên để mang đến cho bạn, khách hàng, dịch vụ và sản phẩm tốt nhất có thể. 
                </p>
            </div>
        </div>
    </section>
    <!-- === content navbar === -->
    <section class="content__navbar">
        <!-- container -->
        <div class="container__sub">
            <!-- content navbar -->
            <ul class="content__navbar--list">
                <li><a href="#"><i class="fa-solid fa-filter"></i><span>Lọc</span></a></li>
                <li><a href="#"><span>DANH MỤC</span><i class="fa-solid fa-chevron-down"></i></a></li>
                <li><a href="#"><span>HÃNG SẢN XUẤT</span><i class="fa-solid fa-chevron-down"></i></a></li>
                <li><a href="#"><span>XUẤT XỨ</span><i class="fa-solid fa-chevron-down"></i></a></li>
                <li><a href="#"><span>GIÁ SẢN PHẨM</span><i class="fa-solid fa-chevron-down"></i></a></li>
                <li><a href="#"><span>KHỐI LƯỢNG</span><i class="fa-solid fa-chevron-down"></i></a></li>
                <li><a href="#"><span>SẮP XẾP</span><i class="fa-solid fa-chevron-down"></i></a></li>
            </ul>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/1d3e3edcff.js" crossorigin="anonymous"></script> 
    <!-- main js -->
    <script src="/assets/js/main.js"></script>
</body>
</html>