
/* === login === */
#login {
    height: 100vh;
}

.sub__navbar {
    display: flex;
}

.sub__navbar--logo {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
}

.close {
    position: absolute;
    top: 1%;
    right: 5%;
    
}
.close a {
    padding: 10px;
    font-size: 20px;
    color: #000000;
}

/* === login__main === */
.login__main {
    max-width: 380px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 380px;
}

.login__heading {
    text-align: center;
}

.login__main p {
    font-size: 13px;
    color: var(--gray);
    line-height: 16.25px;
    font-weight: 300;
}
.login__heading p {
    font-size: 15px;
}
.login__heading h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    padding: 0 20px;
}
.login__quick {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.login__quick a {
    width: 45%;
    font-size: 13px;
    line-height: 24px;
    color: var(--gray);
    border: 1px solid var(--gray);
    border-radius: 2px;
    padding: 3.5% 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
} 
.login__quick a:nth-child(1) i{
    background: linear-gradient( to bottom, #FF3D00, #4CAF50, #1976D2 );
    -webkit-background-clip: text;
    color: transparent;
}
.login__quick a i {
    color: #005BAB;
    font-size: 18px;
}
.login__quick a span {
    margin-left: 5px;
}
.login__quick a:nth-child(1){
    margin-right: 5%;
}

form input {
    width: 97%;
    margin-bottom: 20px;
    padding: 3.5% 1%;
}
.form__pass {
    position: relative;
}

.form__pass i {
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-100%);
    font-size: 18px;
    cursor: pointer;
}

form button {
    width: 100%;
    padding: 3.5% 0;
    margin-bottom: 20px;
    background-color: #000000;
    color: var(--white);
}

.login__links--support {
    text-align: center;
}

.login__links--support a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;
    color: var(--gray);
}

.login__links--support p a {
    color: #000000;
}
@media (max-width:1025px){
    .login__main{
        top: 40%;
    }
}
@media (max-width: 812px){
    .login__main {
        top: 80%;
    }
}
@media (max-width:801px) {
    .login__main {
        top: 50%;
    }
}
@media (max-width:737px){
    .login__main{
        top: 70%;
    }
}
@media (max-width:668px){
    .login__main{
        top: 80%;
    }
}
@media (max-width:601px){
    .login__main{
        top: 40%;
    }
}
@media (max-width:569px){
    .login__main{
        top: 90%;
    }
}
@media (max-width:415px){
    .login__main {
        top: 50%;
    }
}
@media (max-width: 376px){
    .login__main {
        top: 40%;
        max-width: 340px;
    }
}
@media (max-width: 321px){
    .login__main {
        top: 60%;
        max-width: 280px;
    }
    .login__quick {
        display: flex;
        flex-direction: column;
    }
    .login__quick a {
        width: 97%;
        margin-bottom: 20px;
    } 
    .login__quick a:nth-child(2){
        margin-bottom: 0;
    }
    .login__quick a:nth-child(1){
        margin-right: 0;
    }
}

